* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrossel-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrossel {
    width: 900px;
    height: 600px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.carrossel-track {
    display: flex;
    width: calc(600 * 4);
    height: 100%;
    animation: slide 25s infinite;
}

.carrossel img {
    width: 900px;
    height:  600px;
    object-fit: cover;
    flex-shrink: 0;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-900px);
    }
    40% {
        transform: translateX(-1800px);
    }
    60% {
        transform: translateX(-2700px);
    }
    80% {
        transform: translateX(-3600px);
    }
    100% {
        transform: translateX(0);
    }
}
