section.container {
    display: grid;
    gap: 40px;
    margin-top: 3rem;
    padding: 3rem;
    grid-template-columns: repeat(1, 1fr);
}

.layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
}

.user-block {
    display: grid;
    grid-template-rows: auto;
    background-color: #d9d9d9;
    border-radius: 8px;
    width: 70vw;
    height: 45vh;
}

.user-block h1 {
    position: relative;
    transform: translate(11.5rem, -7.4rem);
    font-size: 1.3rem;
}

.user-block ion-icon {
    position: relative;
    bottom: 55px;
    left: 35px;
    background-color: white;
    font-size: 8rem;
    border-radius: 100%;
}

.bio-container {
    position: relative;
    margin: 0 auto;
    padding: 1rem;
    top: -5.7rem;
    background-color: #e3e3e3;
    width:67vw;
    height: 33vh;
    border-radius: 8px;
}

/* Notice Aside */
.notice-aside {
    background-color: #d9d9d9;
    width: 22.5vw;
    height: 45vh;
    border-radius: 8px;
    text-align: center;
}

.notice-aside h1,
.notes-container h1 {
    font-size: 1.4rem;
    transform: translate(0, 0.5rem);
}

/* Notes-Articles */
.notes-container {
    background-color: #d9d9d9;
    border-radius: 8px;
    height: 30vh;
}

.notes-about {
    position: relative;
    top: 3rem;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #e3e3e3;
    height: 20vh;
    width: 90vw;
}

/* Settigs */
.settings-container {
}
